
html, body {
  height: 100%;
}


.navbar-inverse .navbar-nav>li>a {
  color: #CCC;
  font-size: 12pt;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -65px; /* the bottom margin is the negative value of the footer's height */
}

#footer, #push {
  height: 65px; /* '#push' must be the same height as '#footer' */
}

#footer .navbar {
  margin-bottom: 0px;
  text-align: center;
  min-height: 45px;
  border: 0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

#footer .navbar-inverse .navbar-nav>li>a {
  color: #CCC;
  font-size: 11pt;
  padding: 10px 20px;
}


.logo {
  padding: 0px !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
}