{% load reversetag %}
<div class="alert alert-success">
  <div class="row">
    <div class="col-xs-3">
    {% if img_url %}
      <img src="/media/{{ img_url }}" height="90px">
    {% else %}
      upload an image with key <b>{{ img_key }}</b>
    {% endif %}
    </div>
    <div class="col-xs-9">
      {% autoescape off %}
        {{ text }}
      {% endautoescape %}
      {% if not allgemein %}
        <p><a href = "{{ url }}" class="btn btn-success btn-xs pull-right">Weiter <i class="glyphicon glyphicon-chevron-right"></i></a></p>
      {% endif %}
    </div>
  </div>
</div>