{% extends "base.html" %}
{% load inclusions %}

{% block head %}
  {% seo_data meta_data %}
{% endblock head %}

{%block content%}
   <div class="front-inner">
    {% if priv_url %}
      <a href="{% url 'private' %}"><img alt="Private Beratung" id="indexprivpic" src="/media/{{ priv_url }}"></a>{% else %}
      upload an image with key <b>{{ priv_key }}</b>
    {% endif %}
    {% if prof_url %}<a href="{% url 'company' %}"><img alt="Unternehmerische Beratung" id="indexprofpic" src="/media/{{ prof_url }}"></a>
    {% else %}
      upload an image with key <b>{{ prof_key }}</b>
    {% endif %}
  </div>
{%endblock content%}
