{% extends "base.html" %}


{% block content %}
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ page_title }}</div>
        <div class="panel-body">
          <div class="alert alert-info">
            Jeder steht einmal vor einer scheinbar unlösbaren Situation. Man verliert schnell die Nerven, ist unglücklich und sieht keinen Ausweg - doch den gibt es immer!
            <br/><br/>
            An dieser Stelle wird dir Unterstützung geboten, deinen - für dich individuell - richtigen Weg zu finden, welcher dir auch in Zukunft dabei helfen soll, erneuten Problemen standzuhalten.
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#item1" data-toggle="tab">Beratungskontext</a>
            </li>
            <li>
              <a href="#item2" data-toggle="tab">Honorar</a>
            </li>
            <li>
              <a href="#item3" data-toggle="tab">Kontakt</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="item1">
              <p>TEXT1</p>
            </div>
            <div class="tab-pane" id="item2">
              <p>TEXT2</p>
            </div>
            <div class="tab-pane" id="item3">
              <p>TEXT3</p>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="col-xs-4">PIC</div>
        <div class="col-xs-8 well">Text</div>
      </div>
      <div class="row">
        <div class="col-xs-4">PIC</div>
        <div class="col-xs-8 well">Text</div>
      </div>
    </div>
  </div>
  {% block bottom_content%}
  {% endblock bottom_content%}
{% endblock content %}